body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

#menu-list {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease 0.1s,
    visibility 0s ease 0.4s;
}

#hamburger {
  .line {
    transition:
      transform 0.4s,
      opacity 0.4s;
  }
  .top {
    transform-origin: 16px 8px;
  }
  .middle {
    transform-origin: 16px 16px;
  }
  .bottom {
    transform-origin: 16px 24px;
  }
}

#menu:hover:not(.closed) {
  #menu-list {
    visibility: visible;
    opacity: 1;
    transition:
      opacity 0.3s,
      visibility 0s;
  }

  #hamburger {
    .top {
      transform: translateY(8px) rotate(45deg);
    }
    .middle {
      transform: rotateY(90deg);
    }
    .bottom {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.menu-item {
  font-size: 1rem;
  background-color: #fff;
}

.menu-item:hover {
  background-color: #f7f7f7;
}

.roster-item-row {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  padding: 4px;
  border-bottom: solid 1px #eee;
  color: #444;
  font-size: 0.9rem;
  align-items: center;
  background-color: white;
}

.roster-item-row.clickable:hover {
  background-color: #f0f7ff;
  cursor: pointer;
}

.roster-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.roster-meta {
  font-size: 0.75rem;
  color: #888;
  text-align: right;
  font-family: monospace;
}

.roster-header {
  background-color: #f0f0f0;
  color: #333;
  padding: 2px 4px;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #ddd;
  position: sticky;
  top: 0px;
  z-index: 10;
}
