body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

#menu-list {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease 0.1s,
    visibility 0s ease 0.4s;
}

#hamburger {
  .line {
    transition:
      transform 0.4s,
      opacity 0.4s;
  }
  .top {
    transform-origin: 16px 8px;
  }
  .middle {
    transform-origin: 16px 16px;
  }
  .bottom {
    transform-origin: 16px 24px;
  }
}

#menu:hover:not(.closed) {
  #menu-list {
    visibility: visible;
    opacity: 1;
    transition:
      opacity 0.3s,
      visibility 0s;
  }

  #hamburger {
    .top {
      transform: translateY(8px) rotate(45deg);
    }
    .middle {
      transform: rotateY(90deg);
    }
    .bottom {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.menu-item {
  font-size: 1rem;
  background-color: #fff;
}

.menu-item:hover {
  background-color: #f7f7f7;
}
